* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(91, 116, 91, 0.63);
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 512px;
    height: 512px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}